<%= form_for(@thumbedup_movie) do |f| %>
  <% if @thumbedup_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thumbedup_movie.errors.count, "error") %> prohibited this thumbedup_movie from being saved:</h2>

      <ul>
      <% @thumbedup_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.text_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
