<h1>Listing thumbedup_movies</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thumbedup_movies.each do |thumbedup_movie| %>
      <tr>
        <td><%= thumbedup_movie.movie_id %></td>
        <td><%= thumbedup_movie.user_id %></td>
        <td><%= link_to 'Show', thumbedup_movie %></td>
        <td><%= link_to 'Edit', edit_thumbedup_movie_path(thumbedup_movie) %></td>
        <td><%= link_to 'Destroy', thumbedup_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thumbedup movie', new_thumbedup_movie_path %>
